<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>OpenTweet.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>OpenTweetObjC.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>009C4C671D9F0CD600F0BC6C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>009C4C7B1D9F0CD600F0BC6C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>009C4C861D9F0CD600F0BC6C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1F38D9551E2D82CF006FAC3A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1F38D96D1E2D82CF006FAC3A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1F38D9781E2D82CF006FAC3A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
